<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= category.categoryname %> - My Blog</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/CSS/notIndexCatLayout.css">
      <link rel="stylesheet" type="text/css" href="/CSS/mainLayout.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>

   
    .col-md-4{
   
        padding-bottom: 30px;
    }  
  
    </style>
</head>

<body class=" text-white">
    <%- include('nav') %>
    <div class="container mt-5">
        <h1 class="text-center">
            <%= category.categoryname %>
        </h1>
        <div class="row">
            <% // Access the entries array using the category id %>
            <% const categoryEntries = entries[category.id] || []; %>
            <% categoryEntries.forEach(entry => { %>
            <div class="col-md-4">
                        <%- include('catCard', { entry: entry, category: category }) %>
            </div>
            <% }); %>
        </div>
    </div>
</body>

</html>